{% extends "base.html" %}

{% block content %}

<!--{% for cat, msg in get_flashed_messages(True) %}-->
<!--<div class="flash {{cat}}">{{msg}}</div>-->
<!--{% endfor %}-->

    <h1>Хотите записать текст сейчас или у вас есть готовая запись?</h1>

     <div id="controls">
  	    <button id="recordButton">Record</button>
  	    <button id="pauseButton" disabled>Pause</button>
  	    <button id="stopButton" disabled>Stop</button>
    </div>
  	    <p><strong>Recordings:</strong></p>
  	    <ol id="recordingsList"></ol>

    <script src="{{ url_for('static', filename='js/recorder.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>

    <form action="{{ url_for('filling_doc') }}" target="_blank">
        <button>Перейти к распознаванию</button>
    </form>
{% endblock %}
<style>
	body{
		background-color:#e3f2fd;
	}
</style>