{% extends 'base.html' %}

{% block content %}

<h4 style='text-align:center; width:100%; margin-top: 1%'>{{ desc }}</h4>

<p style='text-align:center; width:100%; margin-top: 1%'>В шаблоне должны быть выделены зеленым фоном параграфы,
    которые планируются использоваться как ключевые точки при диктовке
    и после которых будет вставлен распознанный текст.
    Загружаемый файл должен иметь разрешение docx.</p>
 <form style='text-align:center; width:100%; margin-top: 1%' class="editorForm" action="{{url_for('template_processing', template_type=template_type)}}" method="POST" enctype="multipart/form-data">
    {{ form.body() }}
    {{ form.submit() }}
</form>
 {{ ckeditor.load(pkg_type="full-all") }}
 {{ ckeditor.config(name='body') }}

{% endblock %}
<style>
	* {
		margin:0;
	}
	body{
		background-color:#e3f2fd;
	}
	.editorForm{
		background-color:white;
		width: max-content;
		padding: 32px;
		height: max-content;
		position: relative;
		margin: 0 auto;
		top: 45%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
</style>
