{% extends "base.html" %}

{% block content %}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<h2 align="center">Пожалуйста, загрузите документ из которого Вы хотите сформировать шаблон</h2>
<h4 style='text-align:center; width:100%; margin-top: 2%'>После загрузки Вы перейдете на страницу редактирования</h4>
<form class="prepareTemplateForm" action="{{url_for('upload_prepare_doc')}}" method="POST" enctype="multipart/form-data">
    <p style='text-align:center; width:100%; margin-top: 2%'><input type="file" name="file">
    <p style='text-align:center; width:100%;'><input type="submit" value="Загрузить">
</form>


{% endblock %}

<style>
	* {
		margin: 0
	}
	body {
		background-color:#e3f2fd;
	}
	.prepareTemplateForm{
		background-color:white;
		width: max-content;
		padding: 32px;
		height: max-content;
		position: relative;
		margin: 0 auto;
		top: 45%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
</style>