{% extends "base.html" %}

{% block content %}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action="{{url_for('upload_ready_template')}}" method="POST" enctype="multipart/form-data" class="readyTemplateForm">
    <p><input type="file" name="file">
    <p><input type="submit" value="Загрузить">
</form>

{% endblock %}
<style>
	* {
		margin: 0
	}
	body {
		background-color:#e3f2fd;
	}
	.readyTemplateForm{
		background-color:white;
		width: max-content;
		padding: 32px;
		height: max-content;
		position: relative;
		margin: 0 auto;
		top: 45%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
</style>