{% extends 'base.html' %}

{% block content %}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action="" method="post" class="form-3">
{{ form.hidden_tag() }}
<div style='text-align:center; width:100%; margin-top: 4%'>{{ form.login.label() }} {{ form.login() }}</div>
<div style='text-align:center; width:100%; margin-top: 0.4%'>{{ form.password.label() }} {{ form.password() }}</div>
<div style='text-align:center; width:100%; margin-top: 0.4%'>{{ form.confirm.label() }} {{ form.confirm() }}</div>
<div style='text-align:center; width:100%; margin-top: 0.4%'>{{ form.submit() }}</div>

<hr style='text-align:center; width:100%; margin-top: 0.5%' width="300px">
</form>

{% endblock %}

<style>
	* {
		margin: 0
	}
	body {
		background-color:#e3f2fd;
	}

</style>